[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
autopep8 = "*"
flake8-import-order = "*"

[packages]
apache-airflow = "*"

[requires]
python_version = "3.9"

[scripts]
lint = "flake8 --show-source ."
format = "autopep8 -ivr ."